<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
               <link rel="stylesheet" href="/css/login.css">
   
</head>
<body>
<div class="login-container">
    <h2>Connexion</h2>
    <form action="#" th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="btn-primary">Se connecter</button>
        <div><a th:href="@{/signup}">S'inscrire</a></div>
    </form>

    <!-- Affichage des messages d'erreur -->
    <div th:if="${param.error}" class="alert" role="alert">
        Identifiant incorrect.
    </div>
</div>
</body>
</html>
